# custom files
custom/plugins

# temp files directories
cache/
log/
*.swp
.DS_Store

# editor configs
.vscode
.idea
.aider*


# zcompile cached files
*.zwc

# place i keep scratch capture files for now
captures/
