# custom files
custom/

# temp files directories
cache/
log/
*.swp
.DS_Store

# editor configs
.vscode
.idea
.aider*

# build directories and artifacts
term-capture/debug/
term-capture/release/
term-capture/*.o
term-capture/*.input
term-capture/*.output

# zcompile cached files
*.zwc
